
[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[[plugins]]
  package = "@netlify/plugin-visual-editor"

[template.environment]
  STACKBIT_API_KEY = "Add your Stackbit API key here"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  framework = "#custom"
  port = 5173
  targetPort = 5173
  publish = "dist"
  autoLaunch = false
